*{
    margin: 0;
    padding: 0;
}
.header{
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.header_darkomde{
    background-color: var(--bgcolor);
    color: var(--titlecolor);
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

button>img{
    height: 15px;
    width: 34px;
}
h5{
    text-align: center;
}
.team_container{
    background-color: var(--bgcolor);
    height: 100%;
    min-height: 100vh;
}
.team_container_darkmode{
    background-color: black;
    color: #F6F0ED;
    height: 100%;
    min-height: 100vh;
}
h3{
    text-align: center;
    margin-top: 17px;
    color: var(--titlecolor);
}
.search{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.searchbtn{
    border-radius: 5px 5px;
    padding: 3px;
    background-color: black;
    color: whitesmoke;
}
input{
    width: 250px;
    border-radius: 5px 5px;
}
.searchedpokemon{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: -20px;
    margin-left: -70px;
    /* height: 100%; */
}

.detailpokemon{
    /* display: flex; */
    margin-top: 100px;
    background-color: var(--cardbgcolor);
    height: 200px;
    width: 250px;
    margin-left: 200px;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 10px 10px;
}
.detailpokemon>.name{
    color: var(--textcolor);
    position: absolute;
    margin-top: 50px;
    margin-left: 20px;
}
.baseexperience{
    color: #F6F0ED;
    position: absolute;
    margin-left: 20px;
    margin-top: 50px;
}
.detailpokemon>.link>.img{
    position: absolute;
    margin-left: 100px;
    width: 130px;
}
.addbtn{
     margin-top: 142px;
     padding: 10px;
     width: 100%;
     margin-inline: auto;
     border: none;
     border-radius: 7px;
     display: block;
     background-color: lightgray;
}
.team_container_darkmode>.searchedpokemon>.detailpokemon{
    background-color: #F6F0ED;
}
.team_container_darkmode>.searchedpokemon>.detailpokemon>.name{
    color: black
}
.team_container_darkmode>.searchedpokemon>.detailpokemon>.baseexperience{
    color: black;
}
